body {
    background-color: #121619;
    color: #f0fff1;
    font-family: "Funnel Sans", sans-serif;
    display: flex;
    justify-content: center;
}

h1 {
    color: #f0fff1;
    font-size: 60px; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 350px;
}

#earth_in_focus, #earth_not_in_focus {
    padding-right: 50px;
}

p {
    margin-top: -10px;
    max-width: 600px;
    margin-bottom: 50px;
}